<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sonar</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <header>
        <nav>
            <a href="/"><h2>Sonar🐟</h2></a>
            <div>
                <a href="{% url 'contato' %}">contato</a>
                <a href="/">Home</a>
            </div>
        </nav>
    </header>
    <main>
        <aside class="sidebar">
            <div class="sidebar-section">
                <h3>Sessão 1</h3>
                <a href="#" class="sidebar-item" title="Opção 1 muito longo para testar se o ... funciona">Opção 1 longo para testar se o ... funciona</a>
                <a href="#" class="sidebar-item" title="Opção 2">Opção 1</a>
                <a href="#" class="sidebar-item" title="Opção 3">Opção 2"</a>
            </div>
            <div class="sidebar-section">
                <h3>Sessão 2</h3>
                <a href="#" class="sidebar-item">Opção 1</a>
                <a href="#" class="sidebar-item">Opção 2</a>
            </div>
        </aside>
        {% block conteudo %}
        {% endblock %}
    </main>

    <footer>© 2025 Sonar - Inclusão para Todos</footer>
    
</body>
</html>
