{% extends 'base.html' %}
{% block conteudo %}
<h1 style="text-align: center; margin-top: 3%;">Escolha a Divergência</h1>

<div class="cards-container cards-verticais">
    {% for item in items %}
        <a href="{% url 'divergencias' item.slug %}" class="card-opcao">
            {% if item.imagem %}
                <img src="{{ item.imagem.url }}" alt="{{ item.nome }}" style="max-height: 60px;">
            {% endif %}
            <h3>{{ item.nome }}</h3>
        </a>
    {% endfor %}

    <a href="{% url 'outras' %}" class="card-opcao">
        <h3> 🧬 Outras Divergências</h3>
    </a>
</div>
{% endblock %}

