{% extends 'base.html' %}

{% block conteudo %}
<h2 style="text-align: center; margin-top: 30px;">Qual o grau de suporte para {{ divergencia.nome }}?</h2>

<div class="cards-container cards-verticais">
    {% for item in items %}
        <a href="{% url 'listar_series_com_grau' divergencia.slug item.slug %}" class="card-opcao">
            <h3>{{ item.nome }}</h3>
        </a>
    {% endfor %}
</div>
<div style="text-align: center; margin-top: 40px; margin-bottom: 40px;">
    <a href="{% url 'base' %}" class="btn-voltar">Voltar</a>
</div>
{% endblock %}