{% extends 'base.html' %}

{% block conteudo %}
<h1 style="text-align: center; margin-top: 2%;">Qual o grau de suporte para {{ divergencia.nome }}?</h1>

<div class="cards-container cards-verticais">
    {% for item in items %}
        <a href="{% url 'listar_series_com_grau' divergencia.slug item.slug %}" class="card-opcao">
            <h3>{{ item.nome }}</h3>
        </a>
    {% endfor %}
</div>
<div style="text-align: center; margin-top: 40px; margin-bottom: 40px;">
    <a href="javascript:history.back()" style="color: whitesmoke;" class="btn-voltar">← Voltar</a>
    
    <a onclick="abrirModalGrau()" class="btn-adicionar">+ Adicionar</a>
</div>

<div id="modal-criar-grau" class="modal-overlay" style="display: none;">
    <div class="modal-conteudo card-login" style="max-width: 500px; height: auto;">
        <span class="fechar-modal" onclick="fecharModalGrau()">×</span>
        <h2 style="text-align: center; color: #fff; margin-bottom: 20px;">Novo Grau</h2>
        <form action="{% url 'criar_grau' %}" method="POST">
            {% csrf_token %}
            <div class="campo-input" style="margin-bottom: 15px;">
                <label>Divergência:</label>
                
                <input type="text" 
                    value="{{ divergencia.nome }}" 
                    class="input-estilizado" 
                    disabled 
                    style="background: rgba(255,255,255,0.1); color: #aaa; cursor: not-allowed;">

                <input type="hidden" name="divergencia" value="{{ divergencia.id }}">
            </div>

             <div class="campo-input" style="margin-bottom: 15px;">
                <label>Nome do Grau:</label>
                <input type="text" name="nome" id="id_nome_grau" class="input-estilizado" onkeyup="gerarSlug('id_nome_grau', 'id_slug_grau')">
            </div>
            <div class="campo-input" style="margin-bottom: 15px;">
                <label>Slug:</label>
                <input type="text" name="slug" id="id_slug_grau" class="input-estilizado">
            </div>
            <button type="submit" class="btn-entrar-login" style="width: 100%;">Salvar</button>
        </form>
    </div>
</div>
<script>
    function abrirModalGrau() { document.getElementById('modal-criar-grau').style.display = 'flex'; }
    function fecharModalGrau() { document.getElementById('modal-criar-grau').style.display = 'none'; }
    function gerarSlug(origemId, destinoId) {
        const nome = document.getElementById(origemId).value;
        const slug = nome.toLowerCase().normalize('NFD').replace(/[\u0300-\u036f]/g, "").replace(/\s+/g, '-').replace(/[^\w\-]+/g, '').replace(/\-\-+/g, '-').replace(/^-+/, '').replace(/-+$/, '');
        document.getElementById(destinoId).value = slug;
    }
</script>

{% endblock %}