{% extends 'base.html' %}

{% block conteudo %}
<h2 style="text-align: center; margin-top: 30px;">Escolha a Matéria</h2>

<div class="cards-container">
    {% for item in items %}
        <a href="{% url 'listar_pdfs_sem_grau' divergencia_slug serie_slug item.slug %}" class="card-opcao">
            {% if item.imagem %}
                <img src="{{ item.imagem.url }}" style="max-height: 50px;">
            {% endif %}
            <h3>{{ item.nome }}</h3>
        </a>
    {% endfor %}
</div>
<div style="text-align: center; margin-top: 40px; margin-bottom: 40px;">
    <a href="{% url 'listar_series_sem_grau' divergencia_slug=divergencia_slug %}" class="btn-voltar">
        Voltar
    </a>
</div>

{% endblock %}