{% extends 'base.html' %}
{% load custom_tags %}
{% load static %}

{% block conteudo %}

<link rel="stylesheet" href="{% static 'css/estilos_materiais.css' %}">

<div class="titulo-pagina">
    Arquivos {% if materia %} de: <span class="texto-destaque">{{ materia.nome }}</span>{% endif %}
</div>

<div class="cards-container">
    
    <div class="barra-botoes-fixa">
        <a href="javascript:history.back()" class="btn-voltar">← Voltar</a>
        {% if user|eh_admin %}
            <a onclick="abrirModalPDF()" class="btn-adicionar">+ Adicionar</a>
        {% endif %}
    </div>

    <div style="height: 100px;"></div>

    {% for item in pdfs %}
        <div class="pdf-item">
            {% if user|eh_admin %}
                <button class="btn-editar-card" 
                        onclick="event.stopPropagation(); abrirModalEdicaoPdf('{% url 'editar_pdf' item.id %}', '{{ item.titulo }}')">
                    <span class="material-symbols-outlined">edit</span>
                </button>
            {% endif %}
            <div class="icon-wrapper">
                <span class="material-symbols-outlined icon-pdf">
                    picture_as_pdf
                </span>
            </div>

            <div class="card-info">
                <h3 class="card-titulo">{{ item.titulo }}</h3>
                <p class="card-serie">{{ item.serie.nome }}</p>
            </div>

            <div class="card-acoes">
                <button onclick="abrirModalPreview('{{ item.arquivo_pdf.url }}', '{{ item.titulo }}')" 
                        class="btn-ver">
                    Ver
                </button>

                <a href="{{ item.arquivo_pdf.url }}" download class="btn-baixar-custom">
                    Baixar
                </a>
            </div>

        </div>

    {% empty %}
        
        <div style="width: 100%; display: flex; flex-direction: column; align-items: center; justify-content: center;">
            
            <p class="msg-vazio" style="margin-top: 5%; margin-bottom: 10%;">
                Nenhum material encontrado.
            </p>

            </div>

    {% endfor %}

</div>

<div id="modal-criar-pdf" class="modal-overlay" style="display: none;">
    <div class="modal-conteudo card-login" style="max-width: 500px; height: auto;">
        <span class="fechar-modal" onclick="fecharModalPDF()">×</span>
        <h2 style="text-align: center; color: #fff; margin-bottom: 20px;">Novo PDF</h2>
        
        <form action="{% url 'criar_pdf' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            
            <div class="campo-input" style="margin-bottom: 15px;">
                <label>Título:</label>
                <input type="text" name="titulo" class="input-estilizado" required>
            </div>

            <div class="campo-input" style="margin-bottom: 15px;">
                <label>Arquivo PDF:</label>
                <input type="file" name="arquivo_pdf" class="input-estilizado" style="padding: 10px;" required>
            </div>

            <input type="hidden" name="divergencia" value="{{ divergencia.id }}">
            <input type="hidden" name="serie" value="{{ serie.id }}">
            <input type="hidden" name="materia" value="{{ materia.id }}">
            {% if grau %}
                <input type="hidden" name="grau" value="{{ grau.id }}">
            {% endif %}

            <input type="hidden" name="divergencia_id" value="{{ divergencia.id }}">
            <input type="hidden" name="serie_id" value="{{ serie.id }}">
            <input type="hidden" name="materia_id" value="{{ materia.id }}">
            {% if grau %}
                <input type="hidden" name="grau_id" value="{{ grau.id }}">
            {% endif %}

            <button type="submit" class="btn-entrar-login" style="width: 100%;">Salvar</button>
        </form>
    </div>
</div>

<div id="modal-editar-pdf" class="modal-overlay" style="display: none;">
    <div class="modal-conteudo card-login" style="max-width: 500px; height: auto;">
        <span class="fechar-modal" onclick="fecharModalEdicaoPdf()">×</span>
        <h2 style="text-align: center; color: #fff; margin-bottom: 20px;">Editar PDF</h2>
        
        <form id="form-edicao-pdf" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            
            <div class="campo-input" style="margin-bottom: 15px;">
                <label>Título:</label>
                <input type="text" name="titulo" id="edit_titulo_pdf" class="input-estilizado">
            </div>

            <div class="campo-input" style="margin-bottom: 15px;">
                <label>Trocar Arquivo:</label>
                <input type="file" name="arquivo_pdf" class="input-estilizado" style="padding: 10px;">
            </div>

            <button type="submit" class="btn-entrar-login" style="width: 100%;">Salvar</button>
            <button type="button" class="btn-excluir" onclick="abrirModalExclusao()">
                Excluir
            </button>
        </form>
    </div>
</div>

<script>
    function abrirModalPDF() {
        document.getElementById('modal-criar-pdf').style.display = 'flex';
    }
    
    function fecharModalPDF() {
        document.getElementById('modal-criar-pdf').style.display = 'none';
    }

    function abrirModalEdicaoPdf(url, titulo) {
        document.getElementById('form-edicao-pdf').action = url;
        document.getElementById('edit_titulo_pdf').value = titulo;
        document.getElementById('modal-editar-pdf').style.display = 'flex';
    }
    function fecharModalEdicaoPdf() {
        document.getElementById('modal-editar-pdf').style.display = 'none';
    }

    function abrirModalExclusao() {
        document.getElementById('modal-exclusao').style.display = 'flex';
    }

    function fecharModalExclusao() {
        document.getElementById('modal-exclusao').style.display = 'none';
    }

    function confirmarExclusao() {
        const form = document.getElementById('form-edicao-pdf');
        
        const inputDeletar = document.createElement('input');
        inputDeletar.type = 'hidden';
        inputDeletar.name = 'deletar';
        inputDeletar.value = 'true';
        
        form.appendChild(inputDeletar); 
        form.submit(); 
    }
</script>

<div id="modal-exclusao" class="modal-overlay" style="display: none; z-index: 2000;">
    <div class="modal-conteudo modal-confirmacao" style="height: auto;">
        <span class="material-symbols-outlined icone-alerta">delete_forever</span>
        <h3>Tem certeza?</h3>
        <p>Você está prestes a excluir este item permanentemente. Essa ação não pode ser desfeita.</p>
            
        <div class="modal-botoes">
            <button onclick="fecharModalExclusao()" class="btn-cancelar-modal">Cancelar</button>
            <button onclick="confirmarExclusao()" class="btn-confirmar-exclusao">Sim, Excluir</button>
        </div>
    </div>
</div>

{% endblock %}