{% extends 'base.html' %}
{% load static %}

{% block conteudo %}

<link rel="stylesheet" href="{% static 'css/estilos_materiais.css' %}">

<div class="titulo-pagina">
    Arquivos de: <span class="texto-destaque">{{ materia.nome }}</span>
</div>

<div class="container-voltar">
    <a href="javascript:history.back()" class="btn-voltar">← Voltar</a>
</div>

<div class="cards-container">
    
    {% for item in pdfs %}
        <div class="pdf-item">
            
            <div class="icon-wrapper">
                <span class="material-symbols-outlined icon-pdf">
                    picture_as_pdf
                </span>
            </div>

            <div class="card-info">
                <h3 class="card-titulo">{{ item.titulo }}</h3>
                <p class="card-serie">{{ item.serie.nome }}</p>
            </div>

            <div class="card-acoes">
                <button onclick="abrirModalPreview('{{ item.arquivo_pdf.url }}', '{{ item.titulo }}')" 
                        class="btn-ver">
                    Ver
                </button>

                <a href="{{ item.arquivo_pdf.url }}" download class="btn-baixar-custom">
                    Baixar
                </a>
            </div>

        </div>
    {% empty %}
        <p class="msg-vazio">Nenhum material encontrado.</p>
    {% endfor %}

</div>

{% endblock %}