{% extends 'base.html' %}

{% block conteudo %}
<h2 style="text-align: center; margin-top: 30px;">Qual a série do aluno?</h2>
<p style="text-align: center; color: #666;">Caminho: {{ divergencia_slug }} > {{ grau_slug }}</p>

<div class="cards-container">
    {% for item in items %}
        <a href="{% url 'listar_materias_com_grau' divergencia_slug grau_slug item.slug %}" class="card-opcao">
            <h3>{{ item.nome }}</h3>
        </a>
    {% endfor %}
</div>
<div style="text-align: center; margin-top: 20px;">
    <a href="{% url 'base' %}">Voltar para o Início</a>
</div>
{% endblock %}